<a href="https://colab.research.google.com/github/Adekoyaag/Adekoyaag/blob/main/Top_trending_Tweeter_with_TweeterAPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# -*- coding: utf-8 -*-
"""
Created on Thu Mar 31 02:23:10 2022

@author: DELL
"""

import tweepy
import matplotlib.pyplot as plt
from twython import Twython
import json
import pandas as pd

In [ ]:


#from twitter import Twitter


consumer_key = 'inser your key'
consumer_secret = 'insert yours'
access_token = 'insert your token'
access_secret = 'insert yours'


auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
our_api = tweepy.API(auth)

In [ ]:
#python_tweets = Twython(creds['CONSUMER_KEY'], creds['CONSUMER_SECRET'])

trends= our_api.get_place_trends(id=1)
print(trends)

dict_={'Name':[], 'Tweet_volume':[], }



for values in trends:
    
    for trend in values['trends']:
        
        dict_['Name'].append(trend['name'])
        
        dict_['Tweet_volume'].append(trend['tweet_volume'])

In [ ]:

df=pd.DataFrame(dict_)

df = df[df["Tweet_volume"]>0] #Filter to remove all NaN tweet_volumes

df.sort_values(by='Tweet_volume', inplace=True, ascending=True)

d3 = df.head(10)

In [ ]:

#Plot chart
d3.plot.bar(x="Name", y="Tweet_volume", rot=70, title="Top Trending Tweet Volume in World");
plt.show(block=True);

In [ ]:

#Another chart type- change paraid =

d3.plot.bar(x="Name", y="Tweet_volume", rot=70, title="Top Ten(10) Tweet in Nigeria");
plt.show(block=True);

In [ ]:


#Trying another chart
y = d3["Name"]
x = d3["Tweet_volume"]
#z = df2['DateCreated']
myexplode = [0.2,0.1,0.1,0.1,0.,0.1,0.1,0.1,0.2,0.2]
plt.pie(x, labels = y, autopct='%1.0f%%', explode=myexplode)
#plt.legend()

plt.title("Top Ten(10) Tweet in worlds",  bbox={'facecolor':'0.8', 'pad':4})
plt.show()